CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.zwc
*.swp
/TODO
zsdoc
data
crasis.conf
test/-zcrasis-process-buffer
test/crasis
test/zsdoc
test/_test*/*.test
